html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    max-width: 20em;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.1em;
}

.section-first {
    padding-top: 12vh;
    color: #eeeeee;
    min-height: 60vh;
    margin-bottom: 5em;
    text-align: center;
    background: hsl(229, 67%, 31%);
    position: relative;

    box-shadow: 0px 9px 8px 2px rgba(0,0,0,0.41);
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.section-second {
    margin-bottom: 6em;
}

.block-text {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.section-third {
    margin-bottom: 10em;
}

.section-third > div {
    display: flex;
}

.section-third {
    margin-bottom: 10em;
}

.section-fourth {
    margin-bottom: 10em;
}

footer {
    min-height: 20vh;
    background: green;
}

.socials {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}